Example/src/main/app/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">


<flow name="invoke-ws" doc:name="invoke-ws">
    <vm:inbound-endpoint exchange-pattern="request-response" path="vm-ws" doc:name="VM"/>
    <logger message="payload is: #[payload]" level="INFO" doc:name="Logger"/>
    <http:outbound-endpoint exchange-pattern="request-response" method="GET" address="http://localhost:8008/PagosYa/Pagos/Pagos/ping#[payload]" doc:name="HTTP">
        <set-property propertyName="Accept" value="application/json"/>
    </http:outbound-endpoint>
    <byte-array-to-string-transformer doc:name="Byte Array to String"/>
    <logger message="payload is: #[payload]" level="INFO" doc:name="Logger"/>        
</flow> 


</mule>
